.hex {

  position: absolute;
  background-color: #AAA;

  overflow: hidden;

  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

.detail {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

* {
  margin: 0;
  padding: 0;
}

@keyframes rotate {
  from  { transform: rotate(0deg); }
  to    { transform: rotate(360deg); }
}

.hex.focus {

  position: relative;
  height: calc(140px * 1.15);
  width: calc(140px);
  margin: 20px;

  animation: rotate 20s linear infinite;

}

.hex:hover, .hex.hover {
  filter: brightness(0.9);
}

.hex-focus {

  z-index: 1;
  position: absolute;
  pointer-events: none;

  transform: translate(-50%, -50%);

  -webkit-clip-path: polygon(100% 50%, 75% 0%, 25% 0%, 0% 50%, 25% 100%, 75% 100%);
  clip-path: polygon(100% 50%, 75% 0%, 25% 0%, 0% 50%, 25% 100%, 75% 100%);

  background-color: #0001;

}

.sidebar {

  background-color: #AAA;

  width: 180px;
  height: 100%;
  padding: 40px;

  text-align: center;

}

.gamefield {

  position: relative;
  
  height: 100%;

  overflow: hidden;

}

.container {

  width: 100vw;
  height: 100vh;

}